/problema1/JavaApplication1/nbproject/private/
/problema1/JavaApplication1/build/
/problema2/JavaApplication2/nbproject/private/
/problema1/JavaApplication1/dist/
/problema2/JavaApplication2/build/
/problema3/JavaApplication3/nbproject/private/
/problema4/JavaApplication4/nbproject/private/
/problema3/JavaApplication3/build/
/problema4/JavaApplication4/build/
